.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
}

/* Main Section */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main {
        padding: 0 1rem;
    }
}

/* Branding Title */
.branding {
    font-size: 2.5rem; /* Understated size */
    font-weight: 500;
    display: inline-block;
}

.friendly {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ffd700, #a4ffaf, #a0e7e5, #b39cd0);
    -webkit-background-clip: text;
    color: transparent; /* Gradient effect */
    transition: background-size 0.3s ease; /* Smooth transition */
}

    .friendly:hover {
        background-size: 200% auto;
        animation: shimmer 2s infinite linear; /* Animate gradient on hover */
    }

.ominous {
    color: #000; /* Regular black font */
    text-shadow: none; /* Default state has no shadow */
    transition: text-shadow 0.3s ease; /* Smooth shadow transition */
}

    .ominous:hover {
        text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.4); /* Subtle red glow on hover */
    }

/* Animations */
@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


.nftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .nftSection h2 {
        text-align: center; /* Center the heading if necessary */
        margin-bottom: 20px;
    }

.heroPlace1 {
    width: 100%; /* Allow the section to take full width */
    display: block; /* Ensure it behaves as a block-level element */
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #f5f5f5;
    color: #555;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

    .footer a {
        text-decoration: none;
        color: #555;
        font-weight: bold;
        margin-left: 0.3rem;
        transition: color 0.3s ease;
    }

        .footer a:hover {
            color: #000;
        }
